<head>
	<meta charset="UTF-8">
	<title>{{.Code}} {{.Status}}</title>
</head>

<body>
	<center>
		<h1>{{.Code}} {{.Status}}</h1>
	</center>
	<hr>
	<center>resty</center>
</body>

</html>
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->